openapi: 3.0.0
info:
  title: Sales Journey - API for service users
  version: 1.0.0
servers:
  - url: http://api.salesjourney.io
components:
  securitySchemes:
    awsv4Auth:
      type: http
      scheme: awsv4
security:
  - awsv4Auth: []
tags:
  - name: Sales order
paths:
  /sale_order/{saleOrderIdentifier}:
    get:
      tags:
        - Sales order
      summary: Get sale order by ID
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          description: Sale order identifier, it acepts documentId or saleOrderCode
          example: 666b5c37c7a0bd436f7f63d8
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    patch:
      tags:
        - Sales order
      summary: Change sale order by ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                customFields:
                  4461f869-1b49-4d89-f3fe-f4d5e5c40607: '12852'
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          example: 66718553747d2b1f762bf3b9
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sale_order/status/{saleOrderIdentifier}:         
    post:
      tags:
        - Sales order
      summary: Change sale order status by ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                status: BILLED
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          example: FYJT-3XAX
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
