openapi: 3.0.0
info:
  title: Sales Journey - API for service users
  version: 1.0.0
servers:
  - url: http://api.salesjourney.io
components:
  securitySchemes:
    awsSignature:
      type: apiKey  # Usando o tipo `apiKey` para representar a autenticação AWS
      in: header
      name: Authorization  # Cabeçalho onde a chave de autenticação será enviada
security:
  - awsSignature: []  # Aplica o esquema de segurança a todos os endpoints
tags:
  - name: Sales order
  - name: Leads

paths:
  /sale_order/{saleOrderIdentifier}:
    get:
      tags:
        - Sales order
      summary: Get sale order by ID
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          description: Sale order identifier, it accepts documentId or saleOrderCode
          example: 666b5c37c7a0bd436f7f63d8
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  customerName:
                    type: string
                  totalAmount:
                    type: number
                    format: float
                  status:
                    type: string
                    enum:
                      - pending
                      - completed
                      - cancelled
        '404':
          description: Sale order not found
    patch:
      tags:
        - Sales order
      summary: Change sale order by ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customFields:
                  type: object
                  additionalProperties:
                    type: string
              example:
                customFields:
                  4461f869-1b49-4d89-f3fe-f4d5e5c40607: '12852'
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          example: 66718553747d2b1f762bf3b9
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /sale_order/status/{saleOrderIdentifier}:         
    post:
      tags:
        - Sales order
      summary: Change sale order status by ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - BILLED
                    - PENDING
                    - CANCELED
              example:
                status: BILLED
      parameters:
        - name: saleOrderIdentifier
          in: path
          schema:
            type: string
          required: true
          example: FYJT-3XAX
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
  /leads/{leadIdentifier}:         
    get:
      tags:
        - Leads
      summary: Get lead by ID
      parameters:
        - name: leadIdentifier
          in: path
          schema:
            type: string
          required: true
          description: Lead identifier, it accepts documentId or leadCode
          example: 666b5c37c7a0bd436f7f63d8
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  leadId:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                  phone:
                    type: string
        '404':
          description: Lead not found
